/* createQuizStyle.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#quizForm {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

h2 {
    color: #333;
}

.question, .answer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.questionContent, .questionType, .answerContent {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.isCorrect {
    margin-top: 8px;
}
button.delete-answer {
    color: white;
    background-color: red;
    border: none;
    width: 20px; /* Điều chỉnh kích thước chiều rộng */
    height: 20px; /* Điều chỉnh kích thước chiều cao */
    border-radius: 5px; /* Điều chỉnh để tạo hình vuông */
    cursor: pointer;
    display: flex; /* Sử dụng flexbox */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
}

button.delete-answer:hover {
    background-color: darkred;
}
button.delete-question {
    color: white;
    background-color: red;
    border: none;
    width: 20px; /* Điều chỉnh kích thước chiều rộng */
    height: 20px; /* Điều chỉnh kích thước chiều cao */
    border-radius: 5px; /* Điều chỉnh để tạo hình vuông */
    cursor: pointer;
    display: flex; /* Sử dụng flexbox */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
}

button.delete-question:hover {
    background-color: darkred;
}
.question-wrapper {
    display: flex;
    align-items: center; /* Canh chỉnh các phần tử con theo chiều dọc */
}

.questionContent {
    flex-grow: 1; /* Phần tử questionContent sẽ mở rộng để lấp đầy không gian còn lại */
    margin-right: 10px; /* Tạo khoảng cách giữa questionContent và delete button */
}
.answersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.answer label {
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
}

button {

    background-color: #80d0c7;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #80d0c7;
}