
.notification_wrap .notification_icon {
    position: relative;
    margin: 0 25px;
    width: 50px;
    height: 50px;
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
    color: #605dff;
}

.notification_wrap .notification_icon .bi-bell {
    cursor: pointer;
}

.notification_wrap .dropdown {
    width: 450px;
    max-height: 500px;
    overflow-y: scroll;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
    margin: 15px auto 0;
    padding: 15px;
    position: absolute;
    display: none;
    transform: translateX(-43%);
}

.notification_wrap .dropdown .notify_item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #dbdaff;
}

.notification_wrap .dropdown .notify_item:last-child {
    border-bottom: 0px;
}

.notification_wrap .dropdown .notify_item .notify_img {
    margin-right: 15px;
    border-radius: 50%;
}

.notification_wrap .dropdown .notify_item .notify_info p {
    margin-bottom: 5px;
}

.notification_wrap .dropdown .notify_item .notify_info p span {
    color: #605dff;
    margin-left: 5px;
}

.notification_wrap .dropdown .notify_item .notify_info .notify_time {
    color: #c5c5e6;
    font-size: 12px;
}

.notification_wrap .dropdown:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: transparent transparent #fff transparent;
    display: none;
}

.dot {
    margin-top: -30px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.seen .dot {
    background-color: green;
}

.notification_wrap .dropdown.active {
    display: block;
}