/* Đặt kiểu cho thanh điều hướng */
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #286090;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #286090;
}

/* Kiểu cho h1 */
h1 {
    color: #286090;
    text-align: center; /* Thêm dòng này để canh giữa tiêu đề */
}

/* Kiểu cho biểu mẫu cập nhật hồ sơ */
form {
    width: 50%;
    margin: 20px auto; /* Đưa biểu mẫu vào giữa trang */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
    width: calc(100% - 170px); /* Điều chỉnh chiều rộng của input để canh lề với label */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Áp dụng cho nút gửi */
button[type="submit"] {
    width: calc(100% - 170px); /* Điều chỉnh chiều rộng của nút gửi để canh lề với label */
    padding: 10px 20px;
    background-color: #286090;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Style the button on hover */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Thêm padding cho nội dung biểu mẫu */
form label,
form input,
form button {
    display: block;
    margin-bottom: 10px;
}

/* Thêm margin-bottom cho nút gửi */
button[type="submit"] {
    margin-bottom: 20px;
}
