<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!DOCTYPE html>
        <html lang="vi" xmlns:th="http://www.thymeleaf.org">
        <head>
        <div th:replace="HomeHead :: head"></div>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Quiz</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/createQuiz.css" th:href="@{/css/createQuiz.css}">
    <title>Create Quiz By Bank Question</title>
    <link th:href="@{../../../css/listClasses.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/css/createQuiz.css" th:href="@{/css/createQuiz.css}">
</head>

<body>
<div class="headerMark">
    <nav class="navbar navbar-expand-lg" th:fragment="header">

        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <i class="bi-back"></i>
                <span>QuizTest</span>
            </a>

            <div class="d-lg-none ms-auto me-4">
                <a href="#top" class="navbar-icon bi-person smoothscroll nav_iconPerson"></a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_1">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_2">List Quizzes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" th:href="@{'/quizzes/list'}">Manager Quizzes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" th:href="@{'/Classes/listClasses'}">Manager Class</a>
                    </li>

                </ul>
                <div class="d-none d-lg-block inline-block-div"  >
                    <a href="#top" class="navbar-icon bi bi-bell smoothscroll"></a>
                </div>

                <div class="d-none d-lg-block inline-block-div"  >
                    <a href="/logout" class="navbar-icon bi-person smoothscroll"></a>
                </div>

            </div>
        </div>
    </nav>
</div>
<h1>Create Quiz</h1>

<form id="quizForm"th:action="@{'../../listClasses/'+${classId}+'/createQuizz'}" th:object="${quiz}" method="post">
    <label for="quizName">Quiz Name:</label>
    <input type="text" id="quizName" name="quizName" required style="width: 100%;">

    <label for="timeLimit">Time Limit (Minutes):</label>
    <input type="number" id="timeLimit" name="timeLimit" min="0" required style="width: 100%;">
    <span id="timeLimitError" style="color: red; display: none;">Please enter a non-negative number.</span>

    <script>
        const timeLimitInput = document.getElementById('timeLimit');
        const timeLimitError = document.getElementById('timeLimitError');

        timeLimitInput.addEventListener('input', function() {
            const timeLimitValue = parseInt(timeLimitInput.value);
            if (timeLimitValue < 0) {
                timeLimitError.style.display = 'inline';
            } else {
                timeLimitError.style.display = 'none';
            }
        });
    </script>

    <label for="subjectName">Subject Name:</label>
    <input type="text" id="subjectName" name="subjectName" required style="width: 100%;">

    <hr>

    <h2>Questions</h2>

    <div id="questionsContainer">
        <div class="question" th:each="question, questionIndex : ${quiz.listQuestions}">
            <label th:for="${'listQuestions[' + questionIndex.index + '].questionContent'}">
                <h4>Question Content:</h4>

                <input type="hidden" th:id="${'listQuestions[' + questionIndex.index + '].questionId'}"
                       th:field="*{listQuestions[__${questionIndex.index}__].questionId}"  required>
            </label>
            <input type="text" th:id="${'listQuestions[' + questionIndex.index + '].questionContent'}"
                   th:field="*{listQuestions[__${questionIndex.index}__].questionContent}"  required>

            <label th:for="${'listQuestions[' + questionIndex.index + '].questionType'}">Question Type:</label>
            <select th:id="${'listQuestions[' + questionIndex.index + '].questionType'}"
                th:field="*{listQuestions[__${questionIndex.index}__].questionType}" required>
            
                <option th:value="multiplechoice">multiplechoice</option>
                <option value="yesno">yes/no</option>
            </select>

            <label th:for="${'listQuestions[' + questionIndex.index + '].imageUrl'}">Image URL:</label>
            <input type="text" th:id="${'listQuestions[' + questionIndex.index + '].imageUrl'}"
                   th:field="*{listQuestions[__${questionIndex.index}__].imageUrl}" >

            <label th:for="${'listQuestions[' + questionIndex.index + '].videoUrl'}">Video URL:</label>
            <input type="text" th:id="${'listQuestions[' + questionIndex.index + '].videoUrl'}"
                   th:field="*{listQuestions[__${questionIndex.index}__].videoUrl}">
            <hr>
            <h4>Answers</h4>

            <div class="answersContainer">
                <div th:each="answer, answerIndex : ${question.listAnswer}" class="answer">
                    <input type="text" th:id="${'listQuestions[' + questionIndex.index + '].listAnswer[' + answerIndex.index + '].answerId'}"
                           th:field="*{listQuestions[__${questionIndex.index}__].listAnswer[__${answerIndex.index}__].answerId}" required>
                    <label th:for="${'listQuestions[' + questionIndex.index + '].listAnswer[' + answerIndex.index + '].answerContent'}">Answer Content:</label>
                    <input type="text" th:id="${'listQuestions[' + questionIndex.index + '].listAnswer[' + answerIndex.index + '].answerContent'}"
                           th:field="*{listQuestions[__${questionIndex.index}__].listAnswer[__${answerIndex.index}__].answerContent}" required>

                    <label th:for="${'listQuestions[' + questionIndex.index + '].listAnswer[' + answerIndex.index + '].isCorrect'}">Is Correct:</label>
                    <input type="checkbox" th:id="${'listQuestions[' + questionIndex.index + '].listAnswer[' + answerIndex.index + '].isCorrect'}"
                           th:field="*{listQuestions[__${questionIndex.index}__].listAnswer[__${answerIndex.index}__].isCorrect}" th:checked="${true}">
                </div>
            </div>

            <button type="button" onclick="addAnswer(this, ${questionIndex.index})">Add Answer</button>
        </div>
    </div>

    <button type="button" onclick="addQuestion()">Add Question</button>
    <hr>

    <button type="button" onclick="submitForms()">Create Quiz</button>
</form>

<div class="footer">
    <div th:replace="HomeFooter :: footer"></div>
</div>

<div th:replace="HomeScript :: script"></div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script th:inline="javascript">
    function addAnswer(button, questionIndex) {
        var questionDiv = button.closest('.question');
        var answersContainer = questionDiv.querySelector('.answersContainer');

        var answerDiv = document.createElement('div');
        answerDiv.classList.add('answer');

        var nextAnswerIndex = answersContainer.childElementCount;
        answerDiv.innerHTML = `
        <input type="hidden" th:id="${'listQuestions[' + questionIndex + '].listAnswer[' + nextAnswerIndex + '].answerId'}"
            th:field="*{listQuestions[__${questionIndex}__].listAnswer[__${nextAnswerIndex}__].answerId}" required>
        <label for="answerContent">Content:</label>
        <input type="text" th:id="${'listQuestions[' + questionIndex + '].listAnswer[' + nextAnswerIndex + '].answerContent'}"
               name="${'listQuestions[' + questionIndex + '].listAnswer[' + nextAnswerIndex + '].answerContent'}" class="answerContent" required>

        <label for="isCorrect">Correct:</label>
        <input type="checkbox" th:id="${'listQuestions[' + questionIndex + '].listAnswer[' + nextAnswerIndex + '].isCorrect'}"
               name="${'listQuestions[' + questionIndex + '].listAnswer[' + nextAnswerIndex + '].isCorrect'}">
                <button type="button" class="delete-answer" onClick="deleteAnswer(this, ${questionIndex})">X</button>
    `;


        answersContainer.appendChild(answerDiv);
    }


    function addQuestion() {
        var questionsContainer = document.getElementById('questionsContainer');
        var questionIndex = questionsContainer.childElementCount;

        var newQuestionDiv = document.createElement('div');
        newQuestionDiv.classList.add('question');

        newQuestionDiv.innerHTML = `

            <label for="questionContent"><h8>Question Content:</h8></label>
            <div class="question-wrapper">
            <input type="text" th:id="${'listQuestions[' + questionIndex + '].questionContent'}"
                   name="${'listQuestions[' + questionIndex + '].questionContent'}" class="questionContent" required>

            <button type="button" class="delete-question" onclick="deleteQuestion(this)">X</button>
        </div>
        <label th:for="${'listQuestions[' + questionIndex + '].questionType'}">Question Type:</label>
        <select th:id="${'listQuestions[' + questionIndex + '].questionType'}"
            th:field="*{listQuestions[__${questionIndex}__].questionType}" required>

            <option th:value="multiplechoice">multiplechoice</option>
            <option value="yesno">yes/no</option>
        </select>

        <hr>

        <h4>Answers</h4>

        <div class="answersContainer">
            <div class="answer">
                <input type="hidden" th:id="${'listQuestions[' + questionIndex + '].listAnswer[0].answerId'}"
                    name="${'listQuestions[' + questionIndex + '].listAnswer[0].answerId'}">
                <label for="answerContent">Content:</label>
                <input type="text" th:id="${'listQuestions[' + questionIndex + '].listAnswer[0].answerContent'}"
                    name="${'listQuestions[' + questionIndex + '].listAnswer[0].answerContent'}" class="answerContent"  required>

                <label for="isCorrect">Correct:</label>
                <input type="checkbox" th:id="${'listQuestions[' + questionIndex + '].listAnswer[0].isCorrect'}"
                    name="${'listQuestions[' + questionIndex + '].listAnswer[0].isCorrect'}">
                <button type="button" class="delete-answer" onClick="deleteAnswer(this, ${questionIndex})">X</button>
            </div>
        </div>

        <button type="button" onclick="addAnswer(this, ${questionIndex})">Add Answer</button>
        <hr>

    `;

        questionsContainer.appendChild(newQuestionDiv);
    }


    function deleteQuestion(button) {
        var questionDiv = button.closest('.question');
        questionDiv.remove();
    }

    function deleteAnswer(deleteButton, questionIndex) {
        var answerDiv = deleteButton.closest('.answer');
        answerDiv.remove();

        // If needed, you can adjust other elements or perform additional actions here.
    }


    function submitForms() {
        // Submit the main quiz form
        document.getElementById('quizForm').submit();
    }
</script>
<div class="footer">
    <div th:replace="HomeFooter :: footer"></div>
</div>

</body>
</html>
</title>
</head>
<body>

</body>
</html>