<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quiz</title>
    <link rel="stylesheet" type="text/css" media="all" href="/Css/createQuiz.css" th:href="@{/Css/createQuiz.css}">
</head>

<body>
<h1>Create Quiz</h1>

<form id="quizForm" action="/quizzes/createAll" th:action="@{'/quizzes/createAll'}" th:object="${quiz}" method="post">
    <label for="quizName">Quiz Name:</label>
    <input type="text" id="quizName" name="quizName" required>

    <label for="timeLimit">Time Limit:</label>
    <input type="number" id="timeLimit" name="timeLimit"  required>

    <label for="subjectName">Subject Name:</label>
    <input type="text" id="subjectName" name="subjectName" required>

    <hr>

    <h2>Questions</h2>

    <div id="questionsContainer">
        <div class="question" th:each="question, questionIndex : ${quiz.listQuestions}">
            <label th:for="${'listQuestions[' + questionIndex.index + '].questionContent'}">
                <h4>Question Content:</h4>
                <h4>Question Content:</h4>
                <input type="hidden" th:id="${'listQuestions[' + questionIndex.index + '].questionId'}"
                       th:field="*{listQuestions[__${questionIndex.index}__].questionId}"  required>
            </label>
            <input type="text" th:id="${'listQuestions[' + questionIndex.index + '].questionContent'}"
                   th:field="*{listQuestions[__${questionIndex.index}__].questionContent}"  required>

            <label th:for="${'listQuestions[' + questionIndex.index + '].questionType'}">Question Type:</label>
            <select th:id="${'listQuestions[' + questionIndex.index + '].questionType'}"
                    th:field="*{listQuestions[__${questionIndex.index}__].questionType}" required>

                <option value="multiplechoice" th:selected="${question.questionType == 'multiplechoice'}">multiplechoice</option>
                <option value="shortanswer" th:selected="${question.questionType == 'shortanswer'}">shortanswer</option>
            </select>

            <label th:for="${'listQuestions[' + questionIndex.index + '].imageUrl'}">Image URL:</label>
            <input type="text" th:id="${'listQuestions[' + questionIndex.index + '].imageUrl'}"
                   th:field="*{listQuestions[__${questionIndex.index}__].imageUrl}" >

            <label th:for="${'listQuestions[' + questionIndex.index + '].videoUrl'}">Video URL:</label>
            <input type="text" th:id="${'listQuestions[' + questionIndex.index + '].videoUrl'}"
                   th:field="*{listQuestions[__${questionIndex.index}__].videoUrl}">
            <hr>
            <h4>Answers</h4>

            <div class="answersContainer">
                <div th:each="answer, answerIndex : ${question.listAnswer}" class="answer">
                    <input type="text" th:id="${'listQuestions[' + questionIndex.index + '].listAnswer[' + answerIndex.index + '].answerId'}"
                           th:field="*{listQuestions[__${questionIndex.index}__].listAnswer[__${answerIndex.index}__].answerId}" required>
                    <label th:for="${'listQuestions[' + questionIndex.index + '].listAnswer[' + answerIndex.index + '].answerContent'}">Answer Content:</label>
                    <input type="text" th:id="${'listQuestions[' + questionIndex.index + '].listAnswer[' + answerIndex.index + '].answerContent'}"
                           th:field="*{listQuestions[__${questionIndex.index}__].listAnswer[__${answerIndex.index}__].answerContent}" required>

                    <label th:for="${'listQuestions[' + questionIndex.index + '].listAnswer[' + answerIndex.index + '].isCorrect'}">Is Correct:</label>
                    <input type="checkbox" th:id="${'listQuestions[' + questionIndex.index + '].listAnswer[' + answerIndex.index + '].isCorrect'}"
                           th:field="*{listQuestions[__${questionIndex.index}__].listAnswer[__${answerIndex.index}__].isCorrect}" th:checked="${true}">
                </div>
            </div>

            <button type="button" onclick="addAnswer(this, ${questionIndex.index})">Add Answer</button>
        </div>
    </div>

    <button type="button" onclick="addQuestion()">Add Question</button>
    <hr>

    <button type="button" onclick="submitForms()">Create Quiz</button>
</form>

<script th:inline="javascript">
    function addAnswer(button, questionIndex) {
        var questionDiv = button.closest('.question');
        var answersContainer = questionDiv.querySelector('.answersContainer');

        var answerDiv = document.createElement('div');
        answerDiv.classList.add('answer');

        answerDiv.innerHTML = `
            <label for="answerContent">Answer Content:</label>
            <input type="text" th:id="${'listQuestions[' + questionIndex + '].listAnswer[' + answersContainer.childElementCount + '].answerContent'}"
                   name="${'listQuestions[' + questionIndex + '].listAnswer[' + answersContainer.childElementCount + '].answerContent'}" required>

            <label for="isCorrect">Is Correct:</label>
            <input type="checkbox" th:id="${'listQuestions[' + questionIndex + '].listAnswer[' + answersContainer.childElementCount + '].isCorrect'}"
                   name="${'listQuestions[' + questionIndex + '].listAnswer[' + answersContainer.childElementCount + '].isCorrect'}">
        `;

        answersContainer.appendChild(answerDiv);
    }

    function addQuestion() {
        var questionsContainer = document.getElementById('questionsContainer');
        var questionIndex = questionsContainer.childElementCount;

        var newQuestionDiv = document.createElement('div');
        newQuestionDiv.classList.add('question');

        newQuestionDiv.innerHTML = `
            <label for="questionContent"><h4>Question Content:</h4></label>
            <input type="text" th:id="${'listQuestions[' + questionIndex + '].questionContent'}"
                   name="${'listQuestions[' + questionIndex + '].questionContent'}" required>

            <label for="questionType">Question Type:</label>
            <input type="text" th:id="${'listQuestions[' + questionIndex + '].questionType'}"
                   name="${'listQuestions[' + questionIndex + '].questionType'}" required>

            <hr>

            <h4>Answers</h4>

            <div class="answersContainer">
                <div class="answer">
                    <label for="answerContent">Answer Content:</label>
                    <input type="text" th:id="${'listQuestions[' + questionIndex + '].listAnswer[0].answerContent'}"
                           name="${'listQuestions[' + questionIndex + '].listAnswer[0].answerContent'}" required>

                    <label for="isCorrect">Is Correct:</label>
                    <input type="checkbox" th:id="${'listQuestions[' + questionIndex + '].listAnswer[0].isCorrect'}"
                           name="${'listQuestions[' + questionIndex + '].listAnswer[0].isCorrect'}">
                </div>
            </div>

            <button type="button" onclick="addAnswer(this, ${questionIndex})">Add Answer</button>
        `;

        questionsContainer.appendChild(newQuestionDiv);
    }

    function submitForms() {
        // Submit the main quiz form
        document.getElementById('quizForm').submit();
    }
</script>

</body>
</html>
