<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="HomeHead :: head"></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quiz By Bank Question</title>
    <link rel="stylesheet" type="text/css" media="all" href="/Css/createQuiz.css" th:href="@{/Css/createQuiz.css}">
</head>

<body>
<div class="headerMark">
    <div th:replace="HomeHeader :: header"></div>
</div>
<h1>Create Quiz By Bank Question</h1>

<form id="quizForm" th:action="@{'/quizzes/createQuizByListQuestion'}"
      th:object="${formObject}" method="post">
    <label for="quizName">Quiz Name:</label>
    <input type="text" id="quizName" name="quizName" th:field="*{quiz.quizName}" required>

    <label for="timeLimit">Time Limit:</label>
    <input type="number" id="timeLimit" name="timeLimit" th:field="*{quiz.timeLimit}" required>

    <label for="subjectName">Subject Name:</label>
    <input type="text" id="subjectName" name="subjectName" th:field="*{quiz.subjectName}" required>
    <hr>
    <div class="container">
        <h2>Questions</h2>

        <div class="input-group">
            <input style="border-radius: 10px " id="questionSearch" th:value="${question}" name="question"
                   class="form-control form-control-lg" type="text" placeholder="Search Question ..."
                   aria-describedby="button-addon2" autofocus>
            <button style="border-radius: 10px" class="btn btn-secondary" id="button-addon2" type="button"
                    onclick="searchQuestions()">
                Search
            </button>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Question</th>
                <th scope="col">Chose</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question,index : ${ListQuestion}">
                <td th:text="${question.questionId}"></td>
                <td th:text="${question.questionContent}" class="questions"></td>

                <td>
                    <input type="checkbox" th:id="${index.count}"
                           th:value="${question.questionId}" th:field="*{selectedQuestions}"
                           name="selectedQuestions"></td>
            </tr>
            </tbody>
        </table>
        <button type="submit">Create Quiz</button>

    </div>
</form>
<script>
    function searchQuestions() {
        const questionSearch = document.getElementById("questionSearch").value;
        const questions = Array.from(document.querySelectorAll(".questions"));
        questions.forEach(q => {
            if(!q.innerText.includes(questionSearch)){
                q.parentNode.style.display = 'none';
            }else {
                q.parentNode.style.display ="block";
            }
        })
    }
</script>

</body>
</html>
