<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/ForgotPassword.css}">
    <title>Title</title>
</head>

<body>
    <div class="forgot-card">
        <div th:if="${ms==null and error==null}" class="column">
            <h1>Forgot password</h1>
            <p>Please enter your email address. You will receive a link to create a new password via email!</p>
            <form action="/forgotpassword" method="POST">
                <div class="form-item">
                    <input type="text" class="form-element" name="email" placeholder="Email">
                </div>
                <div class="flex">
                    <input type="submit" class="button" value="Enter">
                </div>
            </form>
        </div>
        <div th:if="${ms!=null or error!=null}" class="column">
            <h1 th:if="${ms==null}">Forgot password</h1>
            <h1 th:if="${ms}" th:text="${ms}"></h1>
            <div th:if="${ms}">

                <div class="forgot-card_link">
                    <p style="display: inline">Do you want to back to </p>
                    <a th:href="@{/login}">login</a>
                    <p style="display: inline"> or </p>
                    <a th:href="@{/}">homepage</a>
                </div><br>
            </div>

            <form th:unless="${ms}" action="/forgotpassword" method="POST">

                <div th:if="${error}">
                    <p class="message">Email has not used yet! Do you want to</p>
                    <div class="forgot-card_link">
                        <a th:href="@{/register}">register</a>
                    </div><br>
                </div>


                <div class="form-item">
                    <input type="text" class="form-element" name="email" placeholder="Email">
                </div>
                <div class="flex">
                    <input type="submit" class="button" value="Enter">
                </div>
            </form>
        </div>
    </div>
</body>

</html>