<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/Css/ForgotPassword.css}">
    <title>Title</title>
</head>

<body>
    <div class="forgot-card">
        <div class="column">
            <h1>Forgot password</h1>
            <p>Please enter your email address. You will receive a link to create a new password via email!</p>
            <form action="">
                <div class="form-item">
                    <input type="text" class="form-element" placeholder="Email">
                </div>
                <div class="flex">
                    <button type="button">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>