<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{HomeHead :: head}"></head>
<link th:href="@{Css/Home.css}" rel="stylesheet">
<body id="top">

<main>
    <div th:replace="~{HomeHeader :: header}"></div>


    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center">Test. Learn. Enjoy</h1>
                    <h6 class="text-center">Easy to use for teachers and students</h6>
                    <form id="joinForm" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bi-search" id="basic-addon1"></span>
                            <input type="search" name="classCode" class="form-control" placeholder=" Code join class,  ..."
                                   aria-label="Search">
                            <button type="submit" class="form-control" >Join</button>
                        </div>
                        <p  id="message" th:text="${mess}" ></p>
                    </form>

                </div>
                <script type="text/javascript">
                    // Hàm để ẩn thông báo sau 3 giây
                    function hideMessage() {
                        var messageElement = document.getElementById("message");
                        if (messageElement) {
                            setTimeout(function () {
                                messageElement.style.display = "none";
                            }, 3000); // 3 giây
                        }
                    }
                    // Gọi hàm hideMessage khi trang đã tải xong
                    window.onload = hideMessage;
                </script>


            </div>

            </div>
        </div>
    </section>


    <section class="explore-section section-padding" id="section_2">
        <div class="container">

            <div class="col-12 text-center">
                <h1 class="mb-4">List Quizzes</h1>
            </div>

        </div>
        </div>

        <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs"  >
                        <li class="nav-item"  th:each="subject : ${listSubject}">
                            <a class="nav-link active"
                               th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'subject='+ ${subject.subjectName} +${min!= null && min!=''&&max!= null && max!=''?'&min='+min+'&max='+max:''}+ '#section_2'}"
                               th:text="${subject.subjectName}"
                               style="color: #000000"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="filter-container">
            <label class="filter-button" for="filterCheckbox">Time</label>
            <input type="checkbox" id="filterCheckbox">
            <div class="filter-options">
                <span><a th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo=1'+'&min=0'+'&max=30'+${subject!=null && subject!='' ? '&subject='+subject:''} +'#section_2'}">0-30 Minute</a></span></br>
                <span><a th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo=1'+'&min=30'+'&max=60'+${subject!=null && subject!='' ? '&subject='+subject:''} + '#section_2'}">30-60 Minute</a></span></br>
                <span><a th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo=1' +'&min=60'+'&max=150'+${subject!=null && subject!='' ? '&subject='+subject:''}+ '#section_2'}">60-150 Minute</a></span></br>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel"
                             aria-labelledby="design-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0" th:each="quizzes : ${listQuiz}">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a th:href="@{/quizzes/{quizID}(quizID = ${quizzes.quizId})}">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2" th:text="${quizzes.quizName}"></h5>
                                                    <p class="mb-0" th:text="${quizzes.subject.subjectName}"></p>
                                                    <p class="mb-0" th:text="${quizzes.timeLimit}+ ' minute'"></p>
                                                </div>
                                            </div>
                                            <img th:src="@{/images/topics/undraw_Remote_design_team_re_urdx.png}"
                                                 class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <ul class="pagination">
                <li th:if="${currentPage>1}"><a
                        th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo='+ ${currentPage-1} +${min!= null && min!=''&&max!= null && max!=''?'&min='+min+'&max='+max:''}+${subject!=null && subject!='' ? '&subject='+subject:''}+ '#section_2'}">«</a>
                </li>
                <li th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}">
                    <a th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo='+ ${i} +${min!= null && min!=''&&max!= null && max!=''?'&min='+min+'&max='+max:''}+${subject!=null && subject!='' ? '&subject='+subject:''}+ '#section_2'}"
                       th:text="${i}"></a></li>
                <li th:if="${currentPage<totalPage}"><a
                        th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo='+ ${currentPage+1} +${min!= null && min!=''&&max!= null && max!=''?'&min='+min+'&max='+max:''}+${subject!=null && subject!='' ? '&subject='+subject:''}+ '#section_2'}">»</a>
                </li>
            </ul>
        </div>
    </section>


    <section class="timeline-section section-padding" id="section_3">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h1 class="text-white mb-4">How does it work?</h1>
                </div>

                <div class="col-lg-10 col-12 mx-auto">
                    <div class="timeline-container">
                        <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                            <div class="list-progress">
                                <div class="inner"></div>
                            </div>

                            <li>
                                <h4 class="text-white mb-3">Join classes </h4>

                                <p class="text-white">the website can help you join teacher-created classes easily.
                                    By using the classCode provided by the teacher, we will then enter the code and join the class</p>

                                <div class="icon-holder">
                                    <i class="bi-search"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="text-white mb-3">Search your favourite topic</h4>

                                <p class="text-white">The website can offer many options in subjects.
                                    We can easily search for quizzes based on subjects or quiz name.
                                    If you combine both of these search methods, you will achieve results easily</p>

                                <div class="icon-holder">
                                    <i class="bi-search"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="text-white mb-3">Read &amp; Enjoy</h4>

                                <p class="text-white">The website provides users with an interface that is easy to use, understand and experience.
                                    Convenient testing of tests</p>

                                <div class="icon-holder">
                                    <i class="bi-book"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 text-center mt-5">
                    <p class="text-white">
                        Want to learn more?
                        <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a>
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="contact-section section-padding section-bg" id="section_5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h2 class="mb-5">Get in touch</h2>
                </div>

                <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                    <iframe class="google-map"
                            th:src="@{https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2595.065641062665!2d-122.4230416990949!3d37.80335401520422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858127459fabad%3A0x808ba520e5e9edb7!2sFrancisco%20Park!5e1!3m2!1sen!2sth!4v1684340239744!5m2!1sen!2sth}"
                            width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                    <h4 class="mb-3">Head office</h4>

                    <p>Bay St &amp;, Larkin St, San Francisco, CA 94109, United States</p>

                    <hr>

                    <p class="d-flex align-items-center mb-1">
                        <span class="me-2">Phone</span>

                        <a href="tel: 305-240-9671" class="site-footer-link">
                            305-240-9671
                        </a>
                    </p>

                    <p class="d-flex align-items-center">
                        <span class="me-2">Email</span>

                        <a href="mailto:info@company.com" class="site-footer-link">
                            info@company.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 col-12 mx-auto">
                    <h4 class="mb-3">Dubai office</h4>

                    <p>Burj Park, Downtown Dubai, United Arab Emirates</p>

                    <hr>

                    <p class="d-flex align-items-center mb-1">
                        <span class="me-2">Phone</span>

                        <a href="tel: 110-220-3400" class="site-footer-link">
                            110-220-3400
                        </a>
                    </p>

                    <p class="d-flex align-items-center">
                        <span class="me-2">Email</span>

                        <a href="mailto:info@company.com" class="site-footer-link">
                            info@company.com
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </section>
</main>


<div th:replace="~{HomeFooter :: footer}"></div>

<div th:replace="~{HomeScript :: script}"></div>


</body>
</html>