<div th:fragment="script" >
    <!-- JAVASCRIPT FILES -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.sticky.js}"></script>
    <script th:src="@{/js/click-scroll.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{Js/jquery.min.js}"></script>
    <script th:src="@{Js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{Js/jquery.sticky.js}"></script>
    <script th:src="@{Js/click-scroll.js}"></script>
    <script th:src="@{Js/custom.js}"></script>
    <script th:src="@{Js/Home.js}"></script>
</div>