<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{HomeHead :: head}"></head>

<body id="top">

<main>
    <div th:replace="~{HomeHeader :: header}"></div>


    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center">Test. Learn. Enjoy</h1>
                    <h6 class="text-center">Easy to use for teachers and students</h6>
                    <!-- Sử dụng th:if để kiểm tra xem người dùng đã đăng nhập hay chưa -->
                    <div th:if="${user != null}">
                        <!-- Biểu mẫu đăng ký -->
                        <form id="joinForm" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" action="/join" method="post">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text bi-search" id="basic-addon1"></span>
                                <input type="search" name="classCode" class="form-control" placeholder=" Code join class,  ..."
                                       aria-label="Search">
                                <button type="submit" class="form-control">Join</button>
                            </div>
                        </form>
                        <p id="message" th:text="${mess}"></p>
                    </div>
                    <div th:if="${user == null}">
                        <div style="text-align: center;">
                            <a type="button" class="btn btn-primary btn-sm" href="/register" style="background-color: #80d0c7; padding: 10px; font-size: 16px;">Register for free</a>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    // Hàm để ẩn thông báo sau 3 giây
                    function hideMessage() {
                        var messageElement = document.getElementById("message");
                        if (messageElement) {
                            setTimeout(function () {
                                messageElement.style.display = "none";
                            }, 3000); // 3 giây
                        }
                    }
                    // Gọi hàm hideMessage khi trang đã tải xong
                    window.onload = hideMessage;
                </script>
            </div>
        </div>
    </section>

    <section class="contact-section section-padding section-bg" id="section_2" th:if="${user != null}">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h2 class="mb-5">List Classes</h2>
                </div>


                <div class="col-lg-12 col-md-12 col-12 mx-auto" style="max-height: 100px; overflow-y: auto;">
                    <div class="list-Classes" style="justify-content: center">
                        <div class="grid-container">
                            <p class="mb-0" th:each="listClasses : ${listClasses}">
                                <a type="button" th:href="@{'?className=' + ${listClasses.className}+'#section_3'}"
                                   class="btn btn-secondary mb-2" th:text="${listClasses.className}"></a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="explore-section section-padding" id="section_3" th:if="${user != null}">
        <div class="container">

            <div class="col-12 text-center">
                <h1 class="mb-4">List Quizzes</h1>
            </div>

        </div>
        </div>

        <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs"  >
                        <li class="nav-item"  th:each="subject : ${listSubject}">
                            <a class="nav-link active"
                               th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'subject='+ ${subject.subjectName} +${min!= null && min!=''&&max!= null && max!=''?'&min='+min+'&max='+max:''}+${className != null && className != '' ? '&className='+className:''}+ '#section_3'}"
                               th:text="${subject.subjectName}"
                               style="color: #000000"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="filter-container">
            <label class="filter-button" for="filterCheckbox">Time</label>
            <input type="checkbox" id="filterCheckbox">
            <div class="filter-options" >
                <span><a th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo=1'+'&min=0'+'&max=30'+${subject!=null && subject!='' ? '&subject='+subject:''}+${className != null && className != '' ? '&className='+className:''} +'#section_3'}">0-30 Minute</a></span></br>
                <span><a th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo=1'+'&min=30'+'&max=60'+${subject!=null && subject!='' ? '&subject='+subject:''}+${className != null && className != '' ? '&className='+className:''} + '#section_3'}">30-60 Minute</a></span></br>
                <span><a th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo=1' +'&min=60'+'&max=150'+${subject!=null && subject!='' ? '&subject='+subject:''}+${className != null && className != '' ? '&className='+className:''}+ '#section_3'}">60-150 Minute</a></span></br>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel"
                             aria-labelledby="design-tab" tabindex="0">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0"
                                     th:if="${keyword != null || min != null || max != null || subject != null || className != null}"
                                     th:each="quizzes : ${listQuiz}">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a th:href="@{/quizzes/{quizID}(quizID = ${quizzes.quizId})}">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2" th:text="${quizzes.quizName}"></h5>
                                                    <p class="mb-0" th:text="'Subject: '+${quizzes.subject.subjectName}"></p>
                                                    <p class="mb-0" th:text="'Time: '+${quizzes.timeLimit}+ ' minute'"></p>
                                                    <div class="list-Classes">
                                                        <p th:text="'Classes:'"></p>
                                                        <p class="mb-0 mr-2" th:each="classQuizz, iterStat : ${quizzes.classQuizzes}">
                                                            <span th:if="${classQuizz.classes.className != null && iterStat.index < 2}" th:text="${classQuizz.classes.className}"></span>
                                                            <span th:if="${iterStat.index == 2}" th:text="'...'"></span>
                                                            <span th:unless="${iterStat.last || iterStat.index >= 2}" class="comma">,</span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                            <img th:src="@{/images/topics/undraw_Remote_design_team_re_urdx.png}"
                                                 class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer" th:if="${keyword != null || min != null || max != null || subject != null || className != null}">
            <ul class="pagination">
                <li th:if="${currentPage>1}"><a
                        th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo='+ ${currentPage-1} +${min!= null && min!=''&&max!= null && max!=''?'&min='+min+'&max='+max:''}+${subject!=null && subject!='' ? '&subject='+subject:''}+${className != null && className != '' ? '&className='+className:''}+ '#section_3'}">«</a>
                </li>
                <li th:each="i:${totalPage > 0 ? #numbers.sequence(1,totalPage) : 1}" th:classappend="${currentPage == i ? 'active' : ''}">
                    <a th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo='+ ${i} +${min!= null && min!=''&&max!= null && max!=''?'&min='+min+'&max='+max:''}+${subject!=null && subject!='' ? '&subject='+subject:''}+${className != null && className != '' ? '&className='+className:''}+ '#section_3'}"
                       th:text="${i}"></a>
                </li>
                <li th:if="${currentPage<totalPage}"><a
                        th:href="@{${keyword!=null && keyword!='' ? '?keyword='+keyword+'&':'?' }+'pageNo='+ ${currentPage+1} +${min!= null && min!=''&&max!= null && max!=''?'&min='+min+'&max='+max:''}+${subject!=null && subject!='' ? '&subject='+subject:''}+${className != null && className != '' ? '&className='+className:''}+ '#section_3'}">»</a>
                </li>
            </ul>
        </div>
    </section>


    <section class="timeline-section section-padding" id="section_5">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h1 class="text-white mb-4">How does it work?</h1>
                </div>

                <div class="col-lg-10 col-12 mx-auto">
                    <div class="timeline-container">
                        <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                            <div class="list-progress">
                                <div class="inner"></div>
                            </div>

                            <li>
                                <h4 class="text-white mb-3">Join classes </h4>

                                <p class="text-white">the website can help you join teacher-created classes easily.
                                    By using the classCode provided by the teacher, we will then enter the code and join the class</p>

                                <div class="icon-holder">
                                    <i class="bi-search"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="text-white mb-3">Search your favourite topic</h4>

                                <p class="text-white">The website can offer many options in subjects.
                                    We can easily search for quizzes based on subjects or quiz name.
                                    If you combine both of these search methods, you will achieve results easily</p>

                                <div class="icon-holder">
                                    <i class="bi-search"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="text-white mb-3">Read &amp; Enjoy</h4>

                                <p class="text-white">The website provides users with an interface that is easy to use, understand and experience.
                                    Convenient testing of tests</p>

                                <div class="icon-holder">
                                    <i class="bi-book"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 text-center mt-5">
                    <p class="text-white">
                        Want to learn more?
                        <a href="#" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a>
                    </p>
                </div>
            </div>
        </div>
    </section>


</main>


<div th:replace="~{HomeFooter :: footer}"></div>

<div th:replace="~{HomeScript :: script}"></div>


</body>
</html>