<!DOCTYPE html>
<html lang="vi">
<head>
    <div th:replace="HomeHead :: head"></div>
    <link rel="stylesheet" type="text/css" media="all" href="/css/Importxlsx.css" th:href="@{/css/Importxlsx.css}">
    <title>Document</title>
</head>
<body>
    <div th:replace="~{HomeHeader :: header}"></div>
    <div class="container_upload">
        <div class="card">
            <h3>Upload Files</h3>
            <a href="/quizzes/download-sample" 
            th:href="@{/quizzes/downloadsample}">Download sample</a>
            <div class="drop_box">
                <header>
                    <h4>Select File here</h4>
                </header>
                <p>Files Supported: XLSX</p>
                <script>
                    function validateFile() {
                        var fileName = document.getElementById("input-file").value;
                        var idxDot = fileName.lastIndexOf(".") + 1;
                        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
                        if (extFile == "xlsx") {
                            //TO DO
                        } else {
                            alert("Only xlsx files are allowed!");
                            return false;
                        }
                    }
                </script>
                
                <form id="uploadForm" method="post" th:action="@{/quizzes/uploadquizdata}" enctype="multipart/form-data"
                    onsubmit="return validateFile()">
                    <input id="input-file" type="file" name="file" />
                    <button class="btn btn-sm btn-outline-success float-right" type="submit">
                        Upload
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="~{HomeFooter :: footer}"></div>
</body>
</html>