<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{HomeHead :: head}"></head>
<link th:href="@{css/Home.css}" rel="stylesheet">
<body id="top">


    <div th:replace="~{HomeHeader :: header}" style="color: #0ea3bf"></div>

    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

    </section>






<div th:replace="~{HomeFooter :: footer}"></div>

<div th:replace="~{HomeScript :: script}"></div>


</body>
</html>