<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="HomeHead :: head"></div>
    <link th:href="@{../../Css/listClasses.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Manager Classes</title>

</head>
<body id="top">
<div class="headerMark">
    <nav class="navbar navbar-expand-lg" th:fragment="header">

        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <i class="bi-back"></i>
                <span>QuizTest</span>
            </a>

            <div class="d-lg-none ms-auto me-4">
                <a href="#top" class="navbar-icon bi-person smoothscroll nav_iconPerson"></a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_1">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_2">List Quizzes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" th:href="@{'/quizzes/list'}">Manager Quizzes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" th:href="@{'/Classes/listClasses'}">Manager Class</a>
                    </li>

                </ul>
                <div class="d-none d-lg-block inline-block-div">
                    <a href="#top" class="navbar-icon bi bi-bell smoothscroll"></a>
                </div>

                <div class="d-none d-lg-block inline-block-div">
                    <a href="/logout" class="navbar-icon bi-person smoothscroll"></a>
                </div>
                <div class="dropdown">
                    <button class="navbar-icon bi-person smoothscroll"></button>
                    <div class="dropdown-content">
                        <a th:href="@{/information}" class="btn btn-default btn-flat">Profile</a>

                        <a class="btn btn-default btn-flat" href="/logout">Logout</a>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<h1 class="d-flex justify-content-center p-3 title-Page">Manager Students In Class</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6 btnAddClass fs-3">Hello,
            <span th:text="${nameTeacher}" class="fs-4"></span>
            <div class="fs-5 totalClass">This class currently has <span th:text="${size}"></span> students</div>
        </div>
        <div class="col-sm-2 ">
            <div th:if="${not #strings.isEmpty(mss)}">
                <button type="button" class="btn btn-success" th:text="${mss}"></button>
            </div>
        </div>
        <div class="price-range col-sm-4 d-flex align-items-end">
            <form method="get" class="mx-sm-3 fromSearchClass">
                <div class="input-group">
                    <input style="border-radius: 10px " name="firstName" th:value="${firstName}"
                           class="form-control form-control-lg" type="text" placeholder="Search Student ..."
                           aria-describedby="button-addon2" autofocus>
                    <button style="border-radius: 10px" class="btn btn-secondary" id="button-addon2" type="submit">
                        Search
                    </button>
                </div>
            </form>
            <button type="button" class="btn btn-outline-secondary buttonAddClass"><a
                    th:href="@{${classId}+'/addStudent'}">Add Student</a>
            </button>
            <button type="button" class="btn btn-outline-secondary buttonAddQuiz"><a
                    th:href="@{${classId}+'/createQuizz'}">Add Quiz</a>
            </button>
        </div>
    </div>
</div>
<div class="container containerTableListQuiz">
    <div class="table-wrapper-scroll-y my-custom-scrollbar ">

        <table class="table table-bordered table-striped mb-0 tableListQuiz">
            <thead>

            </thead>
            <tbody>
            <td colspan="1" class="p-0">
                <table class="table table-borderless ">
                    <tbody >
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col" class="text-end">Quizz Name</th>

                    </tr>
                    <tr th:each="listQuiz,index:${listQuizInClass}">
                        <td th:text="${index.count}"></td>
                        <td class="textQuizName text-end text-center" th:text="${listQuiz.quiz.quizName}"></td>
                    </tr>

                    </tbody>
                </table>
            </td>

            </tr>

            </tbody>
        </table>

    </div>
</div>
<div class="container">


    <div class="content p-1">
        <div class="container">
            <h2 class="mb-5"></h2>


            <div class="table-responsive">

                <table class="table table-striped custom-table text-center">
                    <thead>

                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">StudentID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Date Of Birth</th>
                        <th scope="col">Active</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="student,index : ${listStudents}">

                        <td th:text="${index.count}"></td>
                        <td th:text="${student.studentID.userId}"></td>
                        <td th:text="${student.studentID.firstName}"></td>
                        <td th:text="${student.studentID.email}"></td>
                        <td th:text="${student.studentID.address}"></td>
                        <td th:text="${student.studentID.dateOfBirth}"></td>
                        <td>
                            <a th:href="@{${student.classes.classId}+'/profile/'+${student.studentID.userId}}"
                               class="edit" title="View" data-toggle="tooltip"><i
                                    class="fa-regular fa-eye"></i></a>


                            <a th:href="@{${student.classes.classId}+'/deleteStudent/'+${student.enrollmentId}}"
                               class="delete" title="Delete"
                               data-toggle="tooltip"><i
                                    class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


        </div>
        <div class="demo">
            <nav class="pagination-outer " aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage > 1 }" id="movePaging">
                        <a th:href="@{'?pageNo='+${currentPage - 1}}" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item "
                        th:each="i:${totalPage != 1 && currentPage!=1 ? #numbers.sequence(1,totalPage) :1}"
                        th:classappend="${i == currentPage ? 'active' : ''}"><a class="page-link"
                                                                                th:href="@{${firstName != null && firstName != '' ? '?firstName=' + firstName + '&' : '?'} + 'pageNo='+${i}}"
                                                                                th:text="${i}"></a></li>
                    <li class="page-item" th:if="${currentPage < totalPage}">
                        <a th:href="@{'?pageNo='+${currentPage + 1}}" class="page-link" aria-label="Next"
                           id="nextPaging">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="footer">
    <div th:replace="HomeFooter :: footer"></div>
</div>

<div th:replace="HomeScript :: script"></div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>
</html>
