<!doctype html>
<html lang="en">
<head>
    <div th:replace="HomeHead :: head"></div>
    <title>Mark Class</title>

</head>
<body id="top">
<div th:replace="HomeHeader :: header"></div>


<h1 class="d-flex justify-content-center p-3 title-Page" >Mark Class</h1>
<div class="container">
    <div class="row status_left">
        <div th:object="${QuizzAndSubjectById}" class="col-sm-8">
            <div class="row ">
                <h5 ><div>Subject  </div><small th:text="*{subject.subjectName}"  ></small></h5>
            </div>
            <div class="row ">
                <h5 ><div>Quizz Name  </div><small th:text="*{quizName}"  ></small></h5>
            </div>
            <div class="row ">
                <h5 ><div>Teacher  </div><small th:text="*{teacher.username}"  ></small></h5>
            </div>
            <div class="row ">
                <h5 ><div>TimeLimit  </div><small th:text="*{timeLimit}" ></small><small> Min</small></h5>
            </div>

        </div>
        <div class="price-range col-sm-4 d-flex align-items-end">
            <form  method="get" class="mx-sm-3" >
                <div class="input-group" >
                    <input style="border-radius: 10px " name="username" th:value="${username}" class="form-control form-control-lg" type="text" placeholder="Search Name ..." aria-describedby="button-addon2" autofocus>
                    <button style="border-radius: 10px" class="btn btn-secondary" id="button-addon2" type="submit" >Search</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="content p-1">
    <div class="container">
        <h2 class="mb-5"></h2>


        <div class="table-responsive">

            <table class="table table-striped custom-table">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">ID</th>
                    <th scope="col">Student</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">State</th>
                    <th scope="col">Started On</th>
                    <th scope="col">Completed</th>
                    <th scope="col">Time Taken</th>
                    <th scope="col">Grade</th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:each="markClass,iterStat  : ${QuizAttempts}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${markClass.attemptId}"></td>
                    <td>
                        <small th:text="${markClass.user.username}"></small>
                        <a th:href="@{${markClass.quiz.quizId}+'/attempt/'+${markClass.attemptId}}">(Review)</a>
                    </td>

                    <td th:text="${markClass.user.email}">
                    </td>
                    <td th:text="${markClass.isCompleted ? 'Complete' : 'Incomplete'}"></td>

                    <td th:text="${markClass.startTime}"></td>
                    <td th:text="${markClass.endTime}"><a href="#" class="more"></a></td>
                    <td th:text="${markClass.getMinutesDifference()}"></td>
                    <td th:text="${markClass.marks}"><a href="#" class="more"></a></td>

                </tr>
                </tbody>
            </table>
        </div>


    </div>
<!--    pagination-outer -->
    <div class="demo">
        <nav class="pagination-outer" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:if="${currentPage > 1}" id="movePaging">
                    <a th:href="@{'?pageNo='+${currentPage - 1}}"  class="page-link" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item " th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${i == currentPage ? 'active' : ''}"><a class="page-link" th:href="@{${username != null && username != '' ? '?username=' + username + '&' : '?'} + 'pageNo='+${i}}" th:text="${i}"></a></li>
                <li class="page-item" th:if="${currentPage < totalPage}">
                    <a th:href="@{'?pageNo='+${currentPage + 1}}" class="page-link" aria-label="Next" id="nextPaging">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>>
<div th:replace="HomeFooter :: footer"></div>
<div th:replace="HomeScript :: script"></div>

</body>
</html>