<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/Css/Register.css}">
    <title>Title</title>
</head>
<body>
<div class="login-card">
    <div class="column">
        <h1>Register</h1>
        <h5 style="color: red">* : required field</h5>
        <form th:action="@{/register}" method="POST" th:object="${userRegisterDtoRequest}">
            <div th:if="${name!=null}">
                <h3>You have not had any account yet! Creating an account to continue</h3>
                <input type="hidden" th:name="name1" th:value="${name}">
            </div>


            <div th:if="${us==null}" class="form-item">
                <input type="text" class="form-element" th:field="*{username}" placeholder="Username *">
            </div>
            <div th:if="${us!=null}" class="form-item">
                <input type="text" class="form-element1" th:field="*{username}" th:placeholder="${us}">
            </div>


            <div th:if="${name==null}">
                <div th:if="${em==null}" class="form-item">
                    <input type="email" class="form-element" th:field="*{email}" placeholder="Email *">
                </div>
                <div th:if="${em!=null}" class="form-item">
                    <input type="email" class="form-element1" th:field="*{email}" th:placeholder="${em}">
                </div>
            </div>
            <div th:if="${name != null}">
                <div th:if="${em == null}">
                    <input type="hidden" class="form-element" th:field="*{email}" id="emailInput">
                </div>
                <script th:inline="javascript">
                    var emailValue = /*[[${name}]]*/ '';
                    document.getElementById("emailInput").value = emailValue;
                </script>
            </div>



            <div th:if="${pw==null}" class="form-item">
                <input type="password" class="form-element" th:field="*{password}" placeholder="Password *">
            </div>
            <div th:if="${pw!=null}" class="form-item">
                <input type="password" class="form-element1" th:field="*{password}" th:placeholder="${pw}">
            </div>


            <div th:if="${rpw==null}" class="form-item">
                <input type="password" class="form-element" name="repassword" placeholder="Re-enter Password *">
            </div>
            <div th:if="${rpw!=null}" class="form-item">
                <input type="password" class="form-element1" name="repassword" th:placeholder="${rpw}">
            </div>

            <div th:if="${firstnameEmail==null}">
                <div class="form-item">
                    <input type="text" class="form-element" th:field="*{firstname}" placeholder="First name">
                </div>
            </div>
            <div th:if="${firstnameEmail!=null}">
                <div class="form-item">
                    <input type="hidden" class="form-element" th:field="*{firstname}" id="firstnameInput">
                </div>
                <script th:inline="javascript">
                    var firstnameValue = /*[[${firstnameEmail}]]*/ '';
                    document.getElementById("firstnameInput").value = firstnameValue;
                </script>
            </div>
            <input type="hidden" th:name="firstnameEmail1" th:value="${firstnameEmail}">


<!--            <div class="form-item">-->
<!--                <input type="text" class="form-element" th:field="*{lastname}" placeholder="Last name">-->
<!--            </div>-->

            <div th:if="${lastnameEmail==null}">
                <div class="form-item">
                    <input type="text" class="form-element" th:field="*{lastname}" placeholder="Last name">
                </div>
            </div>
            <div th:if="${lastnameEmail!=null}">
                <div class="form-item">
                    <input type="hidden" class="form-element" th:field="*{lastname}" id="lastnameInput">
                </div>
                <script th:inline="javascript">
                    var lastnameValue = /*[[${lastnameEmail}]]*/ '';
                    document.getElementById("lastnameInput").value = lastnameValue;
                </script>
            </div>
            <input type="hidden" th:name="lastnameEmail1" th:value="${lastnameEmail}">

            <div class="form-item">
                <p class="topic">Date of birth</p>
                <input type="date" class="form-element" th:field="*{dateofbirth}" placeholder="Date of Birth">
            </div>

            <div class="form-input-field">
                <p class="topic">Gender</p>
                <div class="gender">
                    <input type="radio" id="male" th:field="*{gender}" name="gender" th:value="Male"/>
                    <label for="male">Male</label>

                    <input type="radio" id="female" th:field="*{role}" name="gender" th:value="Female"/>
                    <label for="female">Female</label>
                </div>
            </div>



            <div th:if="${rl==null}" class="form-input-field">
                <p class="topic">Role *</p>
                <div class="role">
                    <input type="radio" id="studentRadio" th:field="*{role}" name="userType" th:value="ROLE_STUDENT"/>
                    <label for="studentRadio">Student</label>

                    <input type="radio" id="teacherRadio" th:field="*{role}" name="userType" th:value="ROLE_TEACHER"/>
                    <label for="teacherRadio">Teacher</label>
                </div>
            </div>
            <div th:if="${rl!=null}" class="form-input-field">

                <p class="topic">Role *</p>
                <div class="role">
                    <input type="radio" id="studentRadio1" th:field="*{role}" name="userType" th:value="ROLE_STUDENT"/>
                    <label for="studentRadio1">Student</label>

                    <input type="radio" id="teacherRadio1" th:field="*{role}" name="userType" th:value="ROLE_TEACHER"/>
                    <label for="teacherRadio1">Teacher</label>
                </div>
                <p th:text="${rl}" class="error" style="color: #EC7063;"></p><br>
            </div>


            <div class="message">
                <h4 th:text="${ms}?:''"></h4>
            </div>
            <!--                <div class="message">-->
            <!--                    <h3 th:if="${param.authentication}?:''"></h3>-->
            <!--                </div>-->
            <div class="flex">
                <input type="submit" class="button" value="Register">
            </div>
        </form>
    </div>
    <div class="column">
        <h2>Welcome to Online Quizz</h2>
        <p>If you have an account yet, would you like to log in right now?</p>
        <a th:href="@{/login}">Log in</a>
    </div>
</div>
</body>
</html>