<!doctype html>
<html lang="en">
<head>
    <div th:replace="HomeHead :: head"></div>
    <title>Mark Class</title>

</head>
<body id="top">
<div th:replace="HomeHeader :: header"></div>

<h1 class="d-flex justify-content-center p-3 title-Page">Review mark</h1>

<div class="container">
    <div class="row status_left">
        <div th:object="${QuizAttempts}"  class="col-md-8">
            <div class="row ">
                <h5><div>Started on    </div><small th:text="*{startTime}" ></small></h5>
            </div>
            <div class="row ">
                <h5><div>Status   </div><small th:text="${QuizAttempts.isCompleted  == true ? 'Finished' : 'Unfinished'}"
                                    ></small></h5>
            </div>
            <div class="row ">
                <h5><div>Completed on   </div><small th:text="*{endTime}" ></small></h5>
            </div>
            <div class="row ">
                <h5><div>Time Taken   </div><small th:text="*{getMinutesDifference()}" ></small><small
                        ></small></h5>
            </div>
            <div class="row ">
                <h5><div>Grade   </div><small th:text="*{marks}" ></small><small >
                    </small></h5>
            </div>


        </div>
        <div class="demo col-md-4">
            <nav class="pagination-outer" aria-label="Page navigation ">
                <p class="title_NavQuizQuestions">Quiz navigation</p>
                <ul class="pagination " th:each="NoQuestion,indexNoQuestion : ${QuestionAttemptsList}">
                    <li class="page-item  "><a class="page-link p-0 m-0" th:href="'#'+${indexNoQuestion.index+1}" th:text="${indexNoQuestion.index+1}"></a></li>
                </ul>

                <a class="finishReview" th:object="${QuizAttempts}" th:href="'../../'+*{quiz.quizId}">Finish review</a>
            </nav>
        </div>

    </div>
</div>
<div class="container">
    <div class= "row">

        <div class="container col-md-8">
            <div class="question ml-sm-5 pl-sm-5 pt-2 no-pointer-events"
                 th:each="questionAttempt,index  : ${QuestionAttemptsList}">
                <div class="py-2 h5 title-question" th:id="${index.index+1}"><b
                        th:text="${index.index + 1}+') '+${questionAttempt.question.questionContent}"></b></div>
                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3"
                     th:each="answer,answerIndex  : ${questionAttempt.question.getAnswerList}">
                    <label class="options">
                        <input type="radio" th:checked="${answer.answerId == questionAttempt.answer}" disabled>
                        <span th:text="${answerIndex.index + 1} + '.'"></span>
                        <span th:text="${answer.answerContent}"></span> <span class="text-success"><b
                            th:if="${answer.isCorrect}">  --> True</b></span>
                        <span class="text-danger"><b th:if="${!answer.isCorrect}">  --> False</b></span>
                    </label>
                </div>
            </div>
        </div>




    </div>
</div>
<div th:replace="HomeFooter :: footer"></div>
<div th:replace="HomeScript :: script"></div>

</body>
</html>