<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/Css/SetNewPassword.css}">
    <title>Title</title>
</head>

<body>
<div class="forgot-card">
    <div class="column">
        <h1>Set new password</h1>
        <form th:if="${param.email}" action="/setpassword" method="POST">
            <input type="hidden" th:value="${param.email}" th:name="email">
            <div th:if="${pw==null}" class="form-item">
                <input type="password" class="form-element" name="newPassword" placeholder="Password *">
            </div>
            <div th:if="${pw!=null}" class="form-item">
                <input type="password" class="form-element1" name="newPassword" th:placeholder="${pw}">
            </div>


            <div th:if="${rpw==null}" class="form-item">
                <input type="password" class="form-element" name="reNewPassword" placeholder="Re-enter Password *">
            </div>
            <div th:if="${rpw!=null}" class="form-item">
                <input type="password" class="form-element1" name="reNewPassword" th:placeholder="${rpw}">
            </div>
            <div class="flex">
                <input type="submit" class="button" value="Register">
            </div>
            <div th:if="${ms}" th:text="${ms}"></div>
        </form>
        <div th:unless="${param.email}">
            <h1>Please choose email first</h1>
        </div>
    </div>
</div>
</body>

</html>