<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="/Css/showQuiz.css" th:href="@{/Css/showQuiz.css}">
</head>
<body>

<h1>Quiz List</h1>
<a th:href="@{'/quizzes/showCreateQuizPage'}">Add Quiz</a>
<a th:href="@{'/quizzes/createQuizByListQuestions'}">Add Quiz By BankQuizz</a>
<a th:href="@{'/quizzes/showCreateQuizPage'}">Add Quiz</a>

<a th:href="@{'/quizzes/Importxlsx'}">Import XLSX</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Teacher</th>
        <th>Subject</th>
        <th>Name</th>
        <th>Time Limit</th>
<!--        <th>Completed</th>-->
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="quiz : ${quizList}">
        <td th:text="${quiz.quizId}"></td>
        <td th:text="${quiz.teacher.username}"></td>
        <td th:text="${quiz.subject.subjectName}"></td>
        <td th:text="${quiz.quizName}"></td>
        <td th:text="${quiz.timeLimit}"></td>
<!--        <td th:text="${quiz.isCompleted}"></td>-->
        <td><a th:href="@{'/quizzes/showUpdateQuizPage/' + ${quiz.quizId}}">Update</a></td>
        <td><a th:href="@{'/quizzes/delete/' + ${quiz.quizId}}">Delete</a></td>
    </tr>
    </tbody>
</table>



</body>
</html>