<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher List</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/Css/TeachersList.css" th:href="@{/Css/TeachersList.css}">
</head>
<body>
<nav>
    <ul class="navigation">
        <li><a th:href="@{/admin}">Home</a></li>
    </ul>
    <form class="search-form" th:action="@{/admin/teacher/search}" method="get">
        <input type="text" name="username" placeholder="Search by username...">
        <button type="submit">Search</button>
    </form>
</nav>
<h1>Teacher List</h1>
<table border="1">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Join Date</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th th:text="${teachers.size() > 0 ? 'Active' : ''}">Active</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${teachers}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.joinDate}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td>
            <form th:action="@{/admin/toggle-active}" method="post">
                <input type="hidden" name="userId" th:value="${user.userId}">
                <input type="hidden" name="redirectUrl" th:value="'/admin/teachers'">
                <button type="submit" th:text="${user.isActive ? 'Active' : 'Inactive'}"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
