<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width:100%;padding:40px 7px"><div class="adM">
    <div style="width:100%;padding:40px 7px"><div class="adM">
    </div>
        <a href="%s">
            <img style="width:150px" src="/images/logo.png" alt="">
        </a>
    </div>
    <div style="max-width:100%;background-color:#f1f1f1;padding:20px 16px;font-weight:bold;font-size:20px;color:rgb(22,24,35)">
        Xác nhận email của bạn
    </div>
    <div style="max-width:100%;background-color:#f8f8f8;padding:24px 16px;font-size:17px;color:rgba(22,24,35,0.75);line-height:20px">
        <p style="margin-bottom:20px;color:rgba(22,24,35,0.5)">
            Đây là email được tạo tự động, vui lòng không trả lời.</p>
        <p style="margin-bottom:20px">Xin chào bạn,</p>
        <p style="margin-bottom:20px">Để xác minh đây là email của bạn, hãy nhấn vào đường dẫn sau để vào ứng dụng QuizTest:</p>
        <p style="margin-bottom:20px;color:rgb(22,24,35);font-weight:bold;font-size:20px;line-height:24px;word-break:break-all"><a style="color:rgb(0,91,158)" href="%sverifyaccount?email=%s&otp=%s" target="_blank">click link to verify account</a></p>
        <p style="margin-bottom:20px;color:red;font-weight:bolder">Mã xác minh hết hạn sau 5 phút.</p>
        <p style="margin-bottom:20px">Nếu bạn cần xác minh ngay bây giờ, hãy bỏ qua tin nhắn này và tài khoản của bạn sẽ được giữ nguyên.</p>
        <p>Trân trọng</p>
    </div>
</body>
</html>