<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/Css/quizzInfo.css">
</head>
<body>
    <div class="container">
        <div role="main">
            <h1>Practice Test 2 - SWP</h1>
            <div class="box quizinfo py-3">
                <p>This quiz opened at Wednesday, 15 June 2022, 7:39 AM</p>
                <p>Time limit: 30 mins</p>
                <p>Grading method: Highest grade</p>
            </div>
            <h3>Summary of your previous attempts</h3>
            <div class="generaltable quizattemptsummary">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="header c0 cell100 column1" style="text-align:center;" scope="col">Attempt</th>
                                    <th class="header c1 cell100 column2" style="text-align:left;" scope="col">State</th>
                                    <th class="header c2 cell100 column3" style="text-align:center;" scope="col">Marks / 16.00</th>
                                    <th class="header c3 cell100 column4" style="text-align:center;" scope="col">Grade / 10.00</th>
                                    <th class="header c4 cell100 column5 lastcol" style="text-align:center;" scope="col">Review</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                
                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                            <tr class="row100 body">
                                <td class="cell c0 cell100 column1" style="text-align:center;">1</td>
                                <td class="cell c1 cell100 column2" style="text-align:left;">Finished<span class="statedetails">Submitted Wednesday, 11
                                        October 2023, 10:25 AM</span></td>
                                <td class="cell c2 cell100 column3" style="text-align:center;">12.00</td>
                                <td class="cell c3 cell100 column4" style="text-align:center;">7.50</td>
                                <td class="cell c4 cell100 column5 lastcol" style="text-align:center;"><a title="Review your responses to this attempt"
                                        href="#">Review</a>
                                </td>
                            </tr>
                            <tr class="">
                                <td class="cell c0 cell100 column1" style="text-align:center;">2</td>
                                <td class="cell c1 cell100 column2" style="text-align:left;">Finished<span class="statedetails">Submitted Thursday, 12
                                        October 2023, 9:36 PM</span></td>
                                <td class="cell c2 cell100 column3" style="text-align:center;">14.00</td>
                                <td class="cell c3 cell100 column4" style="text-align:center;">8.75</td>
                                <td class="cell c4 cell100 column5 lastcol" style="text-align:center;"><a title="Review your responses to this attempt"
                                        href="#">Review</a>
                                </td>
                            </tr>
                            <tr class="bestrow lastrow">
                                <td class="cell c0 cell100 column1" style="text-align:center;">3</td>
                                <td class="cell c1 cell100 column2" style="text-align:left;">Finished<span class="statedetails">Submitted Thursday, 12
                                        October 2023, 10:19 PM</span></td>
                                <td class="cell c2 cell100 column3" style="text-align:center;">16.00</td>
                                <td class="cell c3 cell100 column4" style="text-align:center;">10.00</td>
                                <td class="cell c4 cell100 column5 lastcol" style="text-align:center;"><a title="Review your responses to this attempt"
                                        href="#">Review</a>
                                </td>
                            </tr>
                            <tr class="bestrow lastrow">
                                <td class="cell c0 cell100 column1" style="text-align:center;">3</td>
                                <td class="cell c1 cell100 column2" style="text-align:left;">Finished<span class="statedetails">Submitted Thursday,
                                        12
                                        October 2023, 10:19 PM</span></td>
                                <td class="cell c2 cell100 column3" style="text-align:center;">16.00</td>
                                <td class="cell c3 cell100 column4" style="text-align:center;">10.00</td>
                                <td class="cell c4 cell100 column5 lastcol" style="text-align:center;"><a
                                        title="Review your responses to this attempt" href="#">Review</a>
                                </td>
                            </tr>
                            <tr class="bestrow lastrow">
                                <td class="cell c0 cell100 column1" style="text-align:center;">3</td>
                                <td class="cell c1 cell100 column2" style="text-align:left;">Finished<span class="statedetails">Submitted Thursday,
                                        12
                                        October 2023, 10:19 PM</span></td>
                                <td class="cell c2 cell100 column3" style="text-align:center;">16.00</td>
                                <td class="cell c3 cell100 column4" style="text-align:center;">10.00</td>
                                <td class="cell c4 cell100 column5 lastcol" style="text-align:center;"><a
                                        title="Review your responses to this attempt" href="#">Review</a>
                                </td>
                            </tr>
                            <tr class="bestrow lastrow">
                                <td class="cell c0 cell100 column1" style="text-align:center;">3</td>
                                <td class="cell c1 cell100 column2" style="text-align:left;">Finished<span class="statedetails">Submitted Thursday,
                                        12
                                        October 2023, 10:19 PM</span></td>
                                <td class="cell c2 cell100 column3" style="text-align:center;">16.00</td>
                                <td class="cell c3 cell100 column4" style="text-align:center;">10.00</td>
                                <td class="cell c4 cell100 column5 lastcol" style="text-align:center;"><a
                                        title="Review your responses to this attempt" href="#">Review</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="feedback" class="box generalbox py-3">
                <h3>Highest grade: 10.00 / 10.00.</h3>
            </div>
            <div class="box quizattempt py-3">
                <div class="singlebutton quizstartbuttondiv">
                    <form >
                        <div class="button-load">
                            <button type="submit" class="btn btn-secondary button type1" id="single_button65a7e4377305618" title="">
                                <span class="btn-txt">Re-attempt quiz</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>