<div th:fragment="script" >
    <!-- JAVASCRIPT FILES -->
    <script th:src="@{/Home/Js/jquery.min.js}"></script>
    <script th:src="@{/Home/Js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/Home/Js/jquery.sticky.js}"></script>
    <script th:src="@{/Home/Js/click-scroll.js}"></script>
    <script th:src="@{/Home/Js/custom.js}"></script>
    <script th:src="@{/Home/Js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/Home/Js/popper.min.js}"></script>
    <script th:src="@{/Home/Js/main.js}"></script>
</div>